<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Day 73 CRUD & SSR</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <!-- Tailwind CDN -->
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="w-full h-screen bg-zinc-800 p-10  text-white">

        <!-- adding a nav to navigate between routes -->
         <div class="nav mb-10 ">
            <a href="./read " class="text-blue-500">Read users</a>
         </div>

        <h1 class="text-3xl tracking-tighter mb-3">create user</h1>
        <form action="/Create" method="post">
            <input class="px-5 py-2 bg-transparent outline-none border-2 border-zinc-800 rounded-lg" type="text"
                name="name" placeholder="name">
            <input class="px-5 py-2 bg-transparent outline-none border-2 border-zinc-800 rounded-lg" type="email"
                name="email" placeholder="email">
            <input class="px-5 py-2 bg-transparent outline-none border-2 border-zinc-800 rounded-lg" type="text"
                name="image" placeholder="Image Url">
            <input class="px-5 py-2 bg-blue-500 rounded-lg ml-3" type="submit" value="CreateUser">
        </form>
    </div>
</body>

</html>