@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.image {
  position: relative;
  height: 15rem;
  width: 15rem;
  border-radius: 50%;
  background-color: blue;
  padding: 3px;
  margin-bottom: 1rem;
}

.image .profile-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid white;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4f4f4;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 50rem;
  width: 100%;
  background: #fff;
  border-radius: 4rem;
  padding: 3rem;
  box-shadow: 0 0.625rem 1.5625rem rgba(0, 0, 0, 0.15);
}

.container .data {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.data .name {
  font-size: 1.5rem;
  font-weight: 500;
}

.data .job {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.container .icons {
  display: flex;
  align-items: center;
}

.icons .link {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 1rem;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  margin: 0 1rem;
  background-color: #4070f4;
}