h1 {
    color: rgb(51, 47, 47);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 50px;
}

p {
    color: rgb(211, 71, 71);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: rgb(211, 71, 71);
}


body {
    text-align: center;
    background-color: rgb(213, 191, 191);
    margin: 50px;
}