body{
    margin: 0px;
}

#page-logo a{
    font-family: "Gravitas One", serif;
    padding: 0px;
    text-decoration: none;
    font-size: 50px;
    color: rgb(245, 243, 160);
    text-transform: capitalize;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
}

header ul{
    display: flex;
}
header li{
    margin-left: 20px;
}
header a{
    color: rgb(255, 251, 0);
    text-decoration: none;
    font-size: 20px;
    padding: 12px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0);
}
header a:hover{
    color: rgb(77, 77, 77);
    background-color: rgb(255, 251, 0);
    border-radius: 10px;
}