#hero {
    height: 800px;
    background-image: url("/Day16/Images/Places/Ocean.jpg");
    background-position: center;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;

}

#hero_content {
    width: 900px;
    background-color: rgba(51, 47, 47, 0.8);
    box-shadow: 2px 4px 8px rgb(68, 67, 67);
    border-radius: 8px;
    text-align: center;
    padding: 50px 0;
    margin: 0 auto;
    /* position: relative;
    top: 200px; */
}

#hero_content h1 {
    color: white;
    text-transform: uppercase;
    font-size: 50px;
    font-family: "Gravitas One", serif;
    margin: 0px;
}

#hero_content p {
    color: white;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 30px;
}

#hero_content a {
    text-decoration: none;
    background-color: yellow;
    padding: 12px 24px;
    color: black;
    font-size: 20px;
    font-weight: bold;
    border-radius: 8px;
    box-shadow: 2px 4px 8px rgb(68, 67, 67);
}

#hero_content a:hover {
    background-color: rgb(222, 222, 74);
}

#highlights {
    text-align: center;
    text-transform: uppercase;
    margin-top: 40px;
}

#highlights h2 {
    color: #3b4140;
    font-family: "Raleway", sans-serif;
    font-size: 40px;
    margin: 25px;
}

.destination img{
    height: 300px;
    width: 100%;
    box-shadow: 2px 4px 8px rgb(68, 67, 67);
    border-radius: 10px;
    object-fit: contain;
}
#destination{
    display: flex;
    width: 90%;
    margin: auto;
    margin-bottom: 40px;
}
#destination1{
    width: 450px;
}
.destination{
    margin: 0 20px;
    text-transform: uppercase;
}

.destination p {
    text-align: center;
    font-size: 24px;
    color: rgb(124, 123, 123);
    margin: 20px 0;
}
.destination strong{
    color: rgb(0, 160, 117);
}
#Highlights h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 45px;
    color: rgb(59, 65, 64);
    margin: 24px 0;
}