#active-game{
    text-align: center;
    margin: 2rem 0 5rem 0;
    display: none;
}
#active-game article{
    width: 90%;
    max-width: 40rem;
    margin: auto;
    padding: 1rem 2rem;
    background-color: rgb(50, 5, 87);
    color: white;
    box-shadow: 0 2px 1rem rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    display: none;
}
#active-game article h2{
    font-size: 2.5rem;
    margin: 0.5rem 0;
}
#active-player-name{
    font-weight: bold;
    color: rgb(50, 7, 87);
}

.Gameboard{
    list-style: none;
    margin: 1rem 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 6rem);/* this repeats 3 times 6rem*/
    grid-template-rows: repeat(3, 6rem);/* this repeats 3 times 6rem*/
    justify-content: center;
    gap: 0.7rem;
}

.Gameboard li{
    background-color: rgb(215, 187, 247);
    border-radius: 2px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 2.5rem;
}
.Gameboard li:hover{
    background-color: rgb(112, 13, 204);
}