#active-game{
    text-align: center;
    margin: 2rem 0 5rem 0;
    display: none;
}
#active-game article{
    width: 90%;
    max-width: 40rem;
    margin: auto;
    padding: 1rem 2rem;
    background-color: rgb(50, 5, 87);
    color: white;
    box-shadow: 0 2px 1rem rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
    display: none;
}
#active-game article h2{
    font-size: 2.5rem;
    margin: 0.5rem 0;
}
#active-player-name{
    font-weight: bold;
    color: rgb(50, 7, 87);
}

.Gameboard{
    list-style: none;
    margin: 1rem 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 6rem);/* this repeats 3 times 6rem*/
    grid-template-rows: repeat(3, 6rem);/* this repeats 3 times 6rem*/
    justify-content: center;
    gap: 0.7rem;
}

.Gameboard li{
    background-color: rgb(215, 187, 247);
    border-radius: 2px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 2.5rem;
}
.Gameboard li:hover{
    background-color: rgb(112, 13, 204);
}
.Gameboard li.disabled {
    background-color: rgb(112, 13, 204);
    color: white;
    cursor: default;
}

.Gameboard li.disabled:hover {
    background-color: rgb(112, 13, 204);
}
.Gameboard li.player-x {
    color: rgb(40, 40, 200);
    background-color: rgb(200, 200, 255);
}

.Gameboard li.player-o {
    color: rgb(180, 20, 20);
    background-color: rgb(255, 200, 200);
}

.Gameboard li.disabled {
    cursor: default;
}

.Gameboard li.disabled:hover {
    background-color: inherit;
}

body.dark .Gameboard li {
    background-color: rgb(80, 80, 80);
}

body.dark .Gameboard li:hover {
    background-color: rgb(110, 110, 110);
}

body.dark .Gameboard li.disabled {
    background-color: rgb(100, 100, 100);
}

body.dark .Gameboard li.player-x {
    background-color: rgb(90, 90, 180);
    color: white;
}

body.dark .Gameboard li.player-o {
    background-color: rgb(180, 90, 90);
    color: white;
}
body.dark #active-player-name {
    color: rgb(200, 200, 200);
}
body.dark .Gameboard li {
    background-color: rgb(80, 80, 80);
    box-shadow: none;
}

body.dark .Gameboard li:hover {
    background-color: rgb(110, 110, 110);
}

body.dark .Gameboard li.disabled {
    background-color: rgb(100, 100, 100);
}

body.dark .Gameboard li.player-x {
    background-color: rgb(90, 90, 180);
    color: white;
}

body.dark .Gameboard li.player-o {
    background-color: rgb(180, 90, 90);
    color: white;
}
body.dark #active-player-name {
    color: rgb(200, 200, 200);
}
