*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;   
}
.container{
    /* position relative : to move from its original position via left,right,top,bottom */
    background: white;
    padding: 4rem 8rem 6rem;
    border-radius: 3rem;
    box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.35);
}

.container header{
    font-size: 3rem;
    color: #333;
    font-weight: 700;
    text-align: center;
    margin-bottom: 2.5rem;
    font-family: Arial, Helvetica, sans-serif;
}
.container .stars{
    display: flex;
    align-items: center;
    gap: 3.5rem;
}
.stars i{
    color: #e6e6e6;
    font-size: 4rem;
    cursor: pointer;
    transition: color 0.2s ease ;
}
.stars i.active{
    color: gold;
}