* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 45rem;
    background: rgba(255, 255, 255, 0.15);
    padding: 4rem;
    border-radius: 2rem;
    /* this applies blur effect to behind the elements */
    backdrop-filter: blur(1.5rem);
    text-align: center;
    box-shadow: 0 1.25rem 4rem rgba(0, 0, 0, 0.2);
}

h2 {
    color: white;
    margin-bottom: 2rem;
}

.input-field {
    position: relative; 
    width: 100%;
}

.toggle-btn {
    position: absolute;
    right: 1.5rem;      
    top: 50%;
    transform: translateY(-50%); /*this keeps show vertically centered from y axis*/
    cursor: pointer;
    font-size: 1.2rem;
    color: white;
    user-select: none;
    z-index: 10;/* keeps the show at top*/
}

input {
    width: 100%;
    padding: 1.5rem 5rem 1.5rem 1.5rem; 
    border-radius: 1rem;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.4);
    background: rgba(255, 255, 255, 0.2);
    color: white;
    font-size: 1.5rem;
}



input::placeholder {
    color: white;
}

.strength-Meter {
    width: 100%;
    height: 1rem;
    border-radius: 1.5rem;
    background: rgba(255, 255, 255, 0.3);
    margin-top: 1.25rem;
    overflow: hidden;
}

/* now strength meter inside the bar, which fills as the password becomes strong  */
.strength-bar {
    height: 100%;
    width: 0%;
    border-radius: 1rem;
    transition: 0.4s;
}

#strengthText {
    margin-top: 1.25rem;
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
}

.login-btn {
    width: 100%;
    padding: 1rem;
    margin-top: 2rem;
    border: none;
    border-radius: 1rem;
    background: rgba(255, 255, 255, 0.9);
    color: #203a43;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.login-btn:hover {
    background: white;
    transform: scale(1.02);
}

.container {
    min-height: 400px;
}

/* when the button is disabled */
.login-btn:disabled {
    background: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.3);
    cursor: not-allowed;
    transform: none; 
}