@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    position: relative;
    background: #121321;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

section::before {
    height: 25rem;
    width: 25rem;
    content: "";
    position: absolute;
    background: linear-gradient(90deg, #e39ecd, #e39ecd);
    border-radius: 50%;
    translate: 15rem 9rem;
}

section::after {
    height: 25rem;
    width: 25rem;
    content: "";
    position: absolute;
    background: linear-gradient(90deg, #e39ecd, #e39ecd);
    border-radius: 50%;
    translate: -15rem -5rem;
}

.container {
    position: relative;
    height: 20rem;
    width: 30rem;
    z-index: 100;
    perspective: 1000px;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.container:hover .card-inner {
    transform: rotateY(180deg);
}

.card {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 6%;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 3rem 7rem rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(1.75rem);

    backface-visibility: hidden;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.back-face {
    transform: rotateY(180deg);
    padding: 1.5rem;
}