* {
    font-family: "Cabin", sans-serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
    font-variation-settings: wdth" 100;

}

body {
    margin: 0;
    background-color: rgb(44, 41, 38);
}

a {
    text-decoration: none;
}

#main-header {
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    background-color: rgb(29, 26, 24);
}

#main-header nav {
    margin-left: auto;
    /* This forces the nav to the far right even if space-between fails */
}

#logo {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(238, 164, 80);
}

#main-header ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

#main-header li {
    margin: 0 1rem;
}

#main-header nav a {
    color: rgb(185, 131, 31);
    font-size: 1.25rem;
}

#main-header nav a:hover {
    background-color: rgb(228, 163, 44);
    color: white;
    padding: 20px;
    border-radius: 24px;
}

main h1 {
    text-align: center;
    color: rgb(228, 163, 44);
    font-size: 3rem;
}

#latest-products {
    width: 80%;
    margin: 2rem auto;
}

#latest-products ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.25rem;
    margin: 0;
    padding: 0;
    list-style: none;
}

.food-item img {
    height: 25rem;
    width: 100%;
    object-fit: cover;
}

.food-item {
    overflow: hidden;
    background-color: rgb(228, 206, 182);
    border-radius: 10px;
}

.food-item-contents {
    text-align: center;
    padding: 1rem;
    /* font-size: 70px; */
}
.food-item h2{
    margin: 0 0 1rem 0;
}

.btn {
    color: white;
    background-color: rgb(228, 157, 44);
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
}

.btn:hover {
    background-color: rgb(189, 109, 18);
}

/* h2{
    font-size: 100%;
    font-size: 1em;
} */
.menu-btn {
    width: 3rem;
    height: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    display: none;
}

.menu-btn span {
    height: 3px;
    width: 100%;
    background-color: white;
}

#side-drawer {
    height: 100%;
    width: 100%;
    background-color: rgb(29, 26, 27);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}

#side-drawer ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 4rem;
}

#side-drawer a {
    color: rgb(253, 239, 213);
    font-size: 2rem;
}

#side-drawer li {
    margin: 1rem 0;
}

#side-drawer:target {
    display: block;
}

#side-drawer header {
    height: 5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 5%;
}

@media(max-width: 48rem) {
    #latest-products ul {
        grid-template-columns: 100%;
    }

    #main h1 {
        font-size: 1.5rem;
    }
    .menu-btn{
        display: flex;
    }

    #main-header nav {
        display: none;
    }
}