body{
    font-family: Arial, Helvetica, sans-serif;
    background: #0f172a;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* now style the container by giving a bg, give some padding and some width then move text to center */
.container{
    background: #1e293b;
    padding: 2.5rem;
    border-radius: 0.75rem;
    text-align: center;
    width: 25rem;
}

/* added style for the dropdown container to display side-by-side */
.dropdown {
    display: flex;
    gap: 1rem;
}

/* now style the input, select , convert button  */
input, select, button{
    width: 100%;/*use 100% width, some padding and space between each other*/
    padding: 0.60rem;
    margin: 0.60rem 0;
    border-radius: 0.5rem;
    border: none;
}
button{
    cursor: pointer;
    color: white;
    background: #3b82f6;
}
button:hover{
    background: #2563eb;
}