* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f0f2f5;
}

.stopwatch-container {
    text-align: center;
    background: #fff;
    padding: 5rem;
    border-radius: 50%;
    height: 27rem;
    width: 27rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1rem 5rem rgb(0, 0, 0, 0.1);
}
h1{
    margin-bottom: 2rem;
}

.display  {
    font-size: 3rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 4rem;
}

button {
    padding: 1.25rem;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    border-radius: 1rem;
    transition: 0.3s;
}

#start {
    background-color: #4CAF50;
    color: white;
}

#stop {
    background-color: #f44336;
    color: white;
    margin-left: 1rem;
}

#reset {
    background-color: #a8abff;
    color: white;
    margin-left: 1rem;
}

button:hover {
    opacity: 0.8;
}
