body{
    font-family: sans-serif;
    background-color: rgb(36, 35, 30);
}
form{
 margin: 3em auto;
 width: 90%;
 max-width: 50rem;
 box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.2);
 border-radius: 1rem;
 padding: 1rem;
 background-color: rgb(246, 245, 201);   
}
.control{
    margin-bottom: 1rem;
}
label{
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

input{
    font:inherit;
    font-size: 1.1rem;
    padding: 0.4rem;
    border: 1px solid rgb(204,204,204);
    background-color: rgb(252,249,233);
    color: rgb(53, 51, 39);
    width: 25rem;
    border-radius: 1rem;
    margin-right: 1rem;
    vertical-align: middle;
}
input:focus{
    background-color: rgb(242, 242, 235);
}
button{
    font: inherit;
    background-color: rgb(209, 184, 23);
    border: 1px solid rgb(209, 184, 23);
    color: rgb(44, 43, 36);
    border-radius: 1rem;
    padding: 0.45rem 1.5rem;
    cursor: pointer;
}
button:hover{
    background-color: rgb(209, 184, 23);
    border: 1px solid rgb(209, 184, 23);
}
#charcount{
    color: rgb(105, 101, 75);
}
#remaining-chars.warning{
    color: rgb(211, 109, 26);
}