h1 {
    color: rgb(71, 62, 62);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 10px;
    font-size: 48px;
}

a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    background-color: rgb(167, 1, 78);
    border-radius: 5px;
}

/* Lets remove the hover  */
a:hover {
    text-decoration: none;
    background-color: rgb(180, 100, 100);
}

p {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

body {
    text-align: center;
    background-color: rgb(233, 215, 207);
    margin: 50px;
}

/* lets remove the list styling  */
ol {
    list-style: none;
    /* color:red; */
}

li {
    background-color: rgb(223, 136, 124);
    border-radius: 6px;
}