*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.price{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
    height: 650px;
    gap: 40px;
    margin-top: 50px;
}
.price-card{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    box-shadow: 0px 2px 12px rgb(20, 20, 43);
    border-radius: 25px;
    border: 1px solid #eff0f6;
}
.heading{
    text-align: center;
}
.heading p{
    font-size: 50px;
    color: #4a4aff;
    font-family:'Courier New', Courier, monospace;
    font-weight: 800;
}
.heading h2{
    font-size: 50px;
    font-weight: 700;
}

.info img{
    height: 50px;
    width: 50px;
    object-fit: cover;
}
.price-wrapper{
    width: 300px;
    margin: 40px 10px;
}
.info{
    display: flex;
    padding: 0 20px;
    gap: 10px;
    & p{
        font-size: 18px;
    }
    & b{
        font-size: 25px;
    }
}

.text p{
    font-size: 15px;
    font-weight: 800;
    color: #6f6c90;
    margin: 20px;
}

.details p{
    font-size: 20px;
    color: #6f6c90;
    margin-bottom: 19px;
}
.details .bold{
    font-size:  50px;
    color: black;
    font-weight: 700;

}

.details ul li{
    font-size: 18px;
    margin: 16px 25px;
    font-weight: 400;
    list-style: none;
}

.price-wrapper button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 22px 35px;
    margin-top: 40px;
    width: 100%;
    border-radius: 10rem;
    background-color: #4a4aff;
    color: white;
    font-size: 1.1rem;
    font-weight: 700;
    border: none;
    cursor: pointer;
}

.price-card:nth-child(even){
    background-color: #4a4aff;
    color: white;

    & p , .bold{
        color: white;
    }

    & .price-wrapper button{
        background-color: white;
        color: #4a4aff;
    }
}
