body{
    background-color: black;
    margin: 10rem;   
    font-family: "Roboto", sans-serif;
}

input,select{
    width: 100%;
    display: block;
    margin-bottom: 2rem;
    font: inherit;
    border: 1px solid rgb(184, 184, 184);
    padding: 0.5rem;
    color: rgb(61, 58, 58);
    box-sizing: border-box;
}
label{
    display: block;
    margin-bottom: 0.5rem;
}
button{
    display: block;
    font: inherit;
    background-color: rgb(160, 115, 160);
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 1rem;
    cursor: pointer;
}
button:hover{
    background-color: rgb(32, 5, 63);
    border-color: rgb(52, 14, 95);
}
form{
    background-color: white;
    padding: 1rem;
    width: 30rem;
    margin: 3rem auto;/*to keep it in center*/
    border-radius: 1rem;
    box-sizing: border-box;
}
.form-control-inline{
    display: flex;
}
.form-control-inline input{
    width: auto;
    margin-right: 0.5rem;
}