* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Neue', sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    background: #000;
}
input,button{
  padding: 10px 20px;
  margin: 10px;
  font-size: 15px;
}
button:hover{
  cursor: pointer;
}