* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    /* the flex direction column stacks elements on top of each other this helps to keep the 10's and 100's button below the .container */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0f172a;
    color: white;
    height: 500px;
    width: 500px;
    border: 1px solid white;
    border-radius: 2rem;
    margin-top: 5rem;/*to push the container to center forcefully */
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.count {
    font-size: 4rem;
    margin-bottom: 1.5rem;
}

button {
    padding: 0.5rem 0.5rem;
    margin: 1rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.25rem;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    opacity: 0.6;
    transition: 0.8s;
}

#Decrement {
    background-color: #ef4444;
}

#Increment {
    background-color: #22c55e;
}

#Reset {
    background-color: #f59e0b;
    padding: 0.5rem 2rem;
}
.multipliers{
    display: flex;
    gap: 10px;
    margin-top: 1rem;
}
#tens, #hundreds {
    background-color: orange;
    color: black;
}