@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');
@import "tailwindcss";

/* prata font styling */
.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}

/* we hide the underline for navbar elements and we style the underlines separately for currently active/clicked item */
a.active hr{
    display: block;
}

*{
    font-family: Outfit;
}