*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: skyblue;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 50rem;
    background: white;
    border-radius: 2rem;
    padding: 4rem 1.5rem 3rem;
}
li{
    list-style: none;
}
.container header{
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 2rem;
}
.container .content{
    margin: 4rem;
}
.container .QuoteArea{
    display: flex;
    justify-content: center;
}
.QuoteArea .quote{
    font-size: 2rem;
    text-align: center;
    /* this stops the overflow of quotes from the container */
    word-break: break-all;
}
.QuoteArea i{
    font-size: 2rem;
}
.QuoteArea .i:first-child{
    margin: 0.5rem 1rem 0 0;
}
.QuoteArea .i:last-child{
    margin: 0 0 0.5rem 1rem;
}
.container .author{
    display: flex;
    margin-top: 3rem;
    justify-content: flex-end;
    font-size: 1.5rem;
    font-style: italic;
}

.author span:first-child{
    margin: -1rem 0.7rem 0 0;
    font-family: monospace;
}
.container .buttons{
    border-top: 1px solid gray;
}
.buttons .features{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.features ul{
    display: flex;
}
.features ul li{
    margin: 1rem;
    height: 4rem;
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid skyblue;
    color: skyblue;
    cursor: pointer;
}
.features button{
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    padding: 1.5rem 3rem;
    border-radius: 5rem;
    background: rgb(32, 114, 146);
}
.features ul li:hover{
    color: peachpuff;
    background: rgb(71, 147, 177);
}