h1 {
    font-family: sans-serif;
    text-align: center;
    font-weight: bold;
    color: black;
}

p {
    text-align: center;
    color: gray;
}

a {
    text-decoration: none;
    color: red;
}

a:hover {
    color: orange;
    font-size: xx-large;
    cursor: progress;
}

#first_p{
    color: black;
    font-weight: 900;
    font-size: 10px;
}
.c1{
    color: blue;
    font: larger;
}
/* Universal selector applies the properties to all tags/elements  */
/* 
*{
    font-family: 'Courier New', Courier, monospace;
} */

