*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    font-size: 5rem;
    font-weight: 400;
    margin-bottom: 2rem;
}
.timebox{
    display: flex;
    justify-content: center;
    gap: 3rem;
}
.time{
    text-align: center;
}

.time h2{
    font-size: 5rem;
    font-weight: 100;
}